.App {
  text-align: center;
}
.matchCard{
  display:inline-block;
  width:400px;
  text-align: center;
  background: rgb(247, 250, 241);
  padding:10px;
  margin:10px;
  border-radius: 4%;
  
}
.status{
  
}
.team1{
  color:rgba(247, 9, 9, 0.637);
  display:inline-block;
  width:150px;
  float:left;
}
.team2{
  color:rgb(8, 43, 245);
  display:inline-block;
  width:150px;
  float:right;
}
.matchCard:hover {
  background-color: #90FF4B;
  text-shadow: 1px 1px;
}
.ball{
  
  padding:10px;
  color:white;
  background:green;
  text-shadow: 1px 1px;
  border-radius: 50%;
}
